section.about
  .flex.flex--center
    .col-1
      p Lo rem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit

section.work
  .flex.flex--space-around
    .col-1
      p Lo rem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit

section.work
  .flex.flex--center
    .col-2
      p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit

section.contact
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit
    .col-50
      p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ipsum sed nunc sagittis sodales. Quisque condimentum massa a dapibus molestie. Phasellus dapibus metus sit amet urna ullamcorper tristique. Nunc sed mi nulla. Proin non orci id libero rutrum dapibus. Fusce lorem justo, molestie ut velit vel, tristique tincidunt elit
