header
  .header-position
    h1.logo ec

    nav.site-nav
      ul
        li: a(href="about") About
        li: a(href="about") Work
        li: a(href="about") Articles
        li: a(href="about") Contact

    a(href="mailto:ediancomachio@hotmail.com").email-link +email me

    .mobile-nav-toggle
      span
