header
  .lead-line-header
  .header-position
    h1.logo(style="background-image:url({{ site.baseurl }}/assets/img/esc-logo.jpg)")

    nav.site-nav
      ul
        //- li: a(href="about") About
        li: a(href="#projetos") Projetos
        li: a(href="#aritgos") Artigos
        li: a(href="#contato") Contato

    a(href="mailto:ediancomachio@hotmail.com").email-link +email me

    .mobile-nav-toggle
      span
