mixin rec(name, desc, image, url)
  .col-50
    a(href!=url)
      .img-aux(style=" background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(" + image + ") ",
      data-title!=name
      data-description!=desc
      ).workRec
        .caption=desc

section.youtube
  .flex.work-header
    h2 Projetos
    p Seleção de projetos web, aplicativos e design.
  .flex.flex--center.work
    | {% for post in site.posts %}
    |   {% if post.type == "work" %}
    +rec("{{ post.name }}", "{{ post.about }}", "{{ site.baseurl }}{{ post.images[0].url }}", "{{ site.baseurl }}{{ post.url }}")
    |   {% endif %}
    | {% endfor %}
    .col-50.fakeRec
      a
        .img-aux(style=" background: #333", data-title="Isso é um retângulo").workRec.caption=""
