section.about(style="background-image:url({{ site.baseurl }}assets/img/back.jpg)")
  .flex.flex--center
    .col-1.push-rigth
      h2 Edian is trying to grow up,
      p.home-lead but instead he spend his time...
