mixin rec(name, desc, image, url)
  .col-25
    a(href!=url)
      .img-aux(style=" background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3)), url(" + image + ") ",
      data-title!=name
      data-description!=desc
      ).workRec
        .caption=desc

section.articles
  .flex.work-header
    h2 Artigos
    p Seleção artigos sobre tecnologia e outros temas. 
  .flex.flex--center.work
    | {% for post in site.posts %}
    |   {% if post.type == "article" %}
    +rec("{{ post.name }}", "{{ post.about }}", "{{ site.baseurl }}{{ post.images[0].url }}", "{{ site.baseurl }}{{ post.url }}")
    |{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
    |   {% endif %}
    | {% endfor %}
    |{% assign odd = post_count | modulo: 2 %}
    |{% if odd != 0 %}
    |{% endif %}
