section.contact
  .blank
  
  .flex.flex--left
    .col-2
      h2 Edian Comachio
      ul
        li 
          a(href="mailto:ediancomachio@hotmail.com") email
        li 
          a(href="https://github.com/ecomachio") github
        li 
          a(href="https://www.facebook.com/edian.comachio") facebook
        li 
          a(href="https://www.instagram.com/ediancomachio/") instagram
        li
          a(href="https://www.linkedin.com/in/edian-comachio-4074b213b/") linkedin 
  |<div class="kudos" data-amount="0" data-url="https://ecomachio.github.io/portfolio/"></div>
