mixin rec(name, desc, url)
  .col-50
    a(href="")
      .img-aux(style=" background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(" + url + ") ",
      data-title!=name
      data-description!=desc
      ).workRec

section.youtube
  .flex.flex--center.work-header
    h2 Work
  .flex.flex--center.work
    +rec("Calistenia App", "Cupcakes da caca que eu amo muito", "{{ site.baseurl }}assets/img/work1.png")
    +rec("Cupcakes da caca", "Cupcakes da caca que eu amo muito", "{{ site.baseurl }}assets/img/work22.jpg")
    
