<header>
    <div class="lead-line-header"></div>
    <div class="header-position">
        <h1 class="logo" style="background-image:url({{ site.baseurl }}/assets/img/esc-logo.jpg)"></h1>
        <nav class="site-nav">
            <ul>
                <li><a class="scroll" href="#projetos">Projects</a></li>
                <li><a class="scroll" href="#artigos">Articles</a></li>
                <li><a class="scroll" href="#contato">Contact</a></li>
            </ul>
        </nav><a class="email-link" href="mailto:ediancomachio@hotmail.com">+email me</a>
        <div class="mobile-nav-toggle"><span></span></div>
    </div>
</header>