<section class="youtube" id="projetos"><div class="flex work-header"><h2>Projects</h2><p>Selection of web projects, applications and design.</p></div><div class="flex flex--center work">{% for post in site.posts %}
  {% if post.type == "work" %}<div class="col-50"><a href="{{ site.baseurl }}{{ post.url }}"><div class="img-aux workRec" style=" background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url({{ site.baseurl }}{{ post.images[0].url }}) " data-title="{{ post.name }}" data-description="{{ post.about }}"><div class="caption">{{ post.about }}</div></div></a></div>{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
  {% endif %}
{% endfor %}    
{% assign odd = post_count | modulo: 2 %}
{% if odd != 0 %}    <div class="col-50 fakeRec"><a><div class="img-aux workRec caption" style=" background: #333" data-title="Isso é um retângulo"></div></a></div>{% endif %}</div></section>