@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Avenirltstd heavy';
  src: local("Avenirltstd heavy"), local("AvenirltstdHeavy"), url(../img/AvenirLTStd-Heavy.otf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #ddd;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.home-lead {
  font-size: 36px; }
  .home-lead.outdented {
    text-indent: -0.75em; }
    @media (max-width: 640px) {
      .home-lead.outdented {
        text-indent: 0; } }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.home-wrap header {
  width: 135px;
  background: white;
  padding: 30px 0; }
  .home-wrap header a {
    color: #141414; }
  .home-wrap header .lead-line-header {
    position: fixed;
    top: 20%;
    background: #000;
    width: 135px;
    border: solid 1px #000;
    box-sizing: border-box; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 135px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .home-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    max-width: 135px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    height: 80px;
    padding: 0;
    margin: 0 20px; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 10px 0 20px 0;
    padding: 0 20px 0 0;
    text-align: right; }
    .home-wrap header .site-nav ul li {
      margin-bottom: 12px; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
  .home-wrap header .email-link {
    display: block;
    text-align: right;
    padding-right: 20px; }
  .home-wrap header .mobile-nav-toggle {
    display: none;
    width: 50px;
    height: 50px;
    margin-right: 20px; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: #141414;
      position: relative; }
    .home-wrap header .mobile-nav-toggle span:before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span:after {
      bottom: 17px; }

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .header-position {
      position: relative;
      width: auto;
      top: auto;
      left: auto;
      bottom: auto;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center; }
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none; }
    .home-wrap header .logo {
      height: 50px;
      min-width: 100px; }
    .home-wrap header .mobile-nav-toggle {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; } }

.home-cta {
  font-size: 28px;
  display: block;
  background: white;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1.25;
  transition: all 0.15s ease-in-out; }
  .home-cta:hover {
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4); }

.flex-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.3%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.home-wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  -ms-flex: 1;
      flex: 1; }
  .home-sections section {
    padding: 50px 0; }
  .home-sections .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: rows;
        flex-direction: rows; }
  .home-sections .flex--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .home-sections .flex--space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .home-sections .order-first {
    -ms-flex-order: -1;
        order: -1; }

.col-1 {
  max-width: 300px;
  margin: 0 10px; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%;
  background: #F012BE; }

.push-rigth {
  margin-left: 330px; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; }
  .col-1 {
    max-width: 100%; }
  .col-50 {
    width: auto; }
  .push-rigth {
    margin-left: 10px; } }

section.about {
  color: #ddd;
  background-color: #fff;
  background-size: contain;
  position: relative;
  width: 100%;
  padding: 0;
  height: 100vh; }
  section.about h2 {
    color: #141414;
    font-size: 60px;
    margin: 40% 0 4% 0;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    letter-spacing: -3px;
    font-family: 'Avenirltstd heavy';
    font-size: 500%;
    line-height: 74px; }
  section.about .home-lead {
    padding-bottom: 180px; }
  section.about .lead-line {
    position: absolute;
    top: 20%;
    background: #141414;
    border: solid 1px #000;
    box-sizing: border-box;
    width: 100%;
    z-index: 1; }
  section.about .about-line {
    border: solid 1px #000;
    box-sizing: border-box;
    width: 30%;
    margin: 10px 0; }
  section.about .col-2 {
    margin-left: 47%; }
    @media (max-width: 1110px) {
      section.about .col-2 {
        margin-left: 20%; } }
  section.about a {
    z-index: 1;
    font-family: 'Avenirltstd light', sans-serif;
    color: #141414;
    font-size: 16px;
    line-height: 32px;
    font-weight: 200;
    text-decoration: none;
    text-shadow: none; }

@media (max-width: 640px) {
  section.about h2, section.about p {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px; } }

section.youtube {
  background-position: center;
  background-size: cover;
  color: #fff; }
  section.youtube .home-cta {
    color: #e20a0a; }
  section.youtube .video-strip {
    position: absolute;
    top: 0;
    width: 100%;
    margin: -50px 0;
    height: calc(100% + 100px);
    background-position: center 0px;
    background-repeat: repeat-y;
    background-size: 75%; }
    @media (max-width: 640px) {
      section.youtube .video-strip {
        display: none; } }
  section.youtube .flex-video {
    box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
    @media (max-width: 985px) {
      section.youtube .flex-video {
        -webkit-transform: scale(1);
                transform: scale(1); } }
  section.youtube .col-1 {
    position: relative;
    width: 100%;
    height: 400px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (max-width: 640px) {
      section.youtube .col-1 {
        height: auto;
        display: block;
        padding: 50px 20px;
        width: auto; }
        section.youtube .col-1:last-child {
          padding: 0px 20px 50px; } }

section.mentoring {
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden; }
  section.mentoring .home-lead {
    margin-top: 250px; }
  section.mentoring .faces {
    list-style: none;
    margin: -50px 0;
    height: calc(100% + 100px);
    padding: 0;
    position: relative;
    top: 120%;
    transition: all 0.4s ease-in-out;
    width: 550px; }
    section.mentoring .faces.launched {
      top: 0; }
  section.mentoring .face {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    position: relative; }
  section.mentoring .bubble {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 100%;
    margin-left: 10px;
    bottom: 60%;
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 40px 40px 40px 4px;
    border: 3px solid white;
    transition: all 0.2s cubic-bezier(0, 0.38, 0.32, 1.64);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left; }
  section.mentoring .face.has-bubble-open .bubble {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  section.mentoring .col-1 {
    padding: 0 50px; }

@media (max-width: 640px) {
  section.mentoring .home-lead {
    margin: 0; }
  section.mentoring .faces {
    margin: 200px 0 40px 0;
    width: 690px; }
  section.mentoring .face {
    display: inline-block;
    margin: 15px; }
  section.mentoring .bubble {
    left: 50%;
    bottom: 110%; } }
