section.about
  color: $silver
  background:
    color: $aqua
    size: contain
  h2
    color: $silver
    font:
      size: 60px
    margin-left: -108px

  .home-lead
    padding-bottom: 180px

@media (max-width:640px)
  section.about
    h2, p
      margin-left: auto
      margin-right: auto
      max-width: 300px
