section.youtube
  background:
    position: center
    size: cover
  color: $white
  min-height: 100vh
  height: auto
  padding: 0
  background: $secondary
  position: relative
  font-family: 'Avenirltstd heavy'

  .lead-line
    position: absolute
    top: 20%
    border: solid 1px $primary
    box-sizing: border-box
    width: 100%
    z-index: 1

  .work-header
    padding: 5% 0

  h2
    color: $primary
    margin: 0

  .home-cta
    color: #e20a0a

  .video-strip
    position: absolute
    top: 0
    width: 100%
    margin: -50px 0
    height: calc(100% + 100px)
    background:
      position: center 0px
      repeat: repeat-y
      size: 75%

    @media(max-width: 640px)
      display: none

  .col-1
    margin: 0
    height: auto
    width: auto
    min-width: 30%
    font-size: 4px
    height: 300px
    @media(max-width: 775px)
      min-width: 40%
    @media(max-width: 640px)
      max-width: 100%

    a .img-aux
      height: 100%
      width: 100%
      background:
        size: cover        
      color: $primary

      h2
        opacity: 1

  .flex-video
    box-shadow: 0px 4px 40px 3px rgba(0,0,0,0.5)
    transform: scale(1.4)

    @media(max-width: 985px)
      transform: scale(1)

    @media(max-width: 640px)
      height: auto
      display: block
      padding: 50px 20px
      width: auto

      &:last-child
        padding: 0px 20px 50px
