---
layout: default
---
<div class="post-header">
  <div class="post-header-data">
    <h1>{{ page.title }}</h1>
    <!-- <p class="meta">{{ page.date | date_to_string }}</p> -->
  </div>
</div>
<div class="post-content">
  {{ content }}
</div>
{% if page.comments %}
  {% include disqus.html %}
{% endif %}
{% if page.type == "work" %}
  <a href="mailto:ediancomachio@hotmail.com">
    <div class="post-footer">
      <div class="post-footer-data">
        <h2>Vamos conversar sobre o seu projeto?</h2>
      </div>
    </div>
  </a>
{% endif %}
<a href="{{ site.baseurl }}">
  <div class="post-back">
    Voltar
  </div>
</a>
